<div class="wrapper">
    <div class="landing-page">
      <div style="text-align:center;" class="icon__download">
        <svg xmlns="http://www.w3.org/2000/svg" id="b599d709-684a-4b18-9cac-f9c979cf5115" data-name="Layer 1" width="977.71631" height="782.41658" viewBox="0 0 977.71631 782.41658" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/imagination_ok71.svg" class="item__image" alt="Imagination"><title>imagination</title></svg>
        </div>
      <h1> 404 Error.</h1>
      <br>
      <p> We can't find the page you're looking for.</p>
      <button (click)="onLogin()">Back to login</button>
    </div>
  </div>